h3 #{title}
include ./axis.jade
  each d, index in data
    //- Create The bar
    rect(width=d.w, height=d.y, x=x_origin+(index*padding), y=y_origin-d.y)

    //- Add an x label
    text(x=x_origin + d.w/2+index*padding y=y_origin+20 fill=blue) #{index}
